.back {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-family: "Nunito-Bold";
  display: flex;
  align-items: center;
  width:calc(100% - 60px) ;
  /* width: calc(100% - 80px); */
  padding-top: 1.5rem;
  padding-bottom: 0.4rem;
}
