.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 5px; */

  width: 2.5rem;
  height: 2.5rem;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 18px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-bottom: 0.5rem;
  margin-right: 1.2rem;
}
