.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  height: 6px;
  width: calc(100% - 56px);
  background: #f2f2f2;
  margin: 50;
  border-radius: 29px;
}

.title {
  width: 34px;
  height: 2.7rem;
  font-family: "Nunito-Regular";
  font-size: 1.6rem;
  line-height: 2.7rem;
  display: flex;
  color: #000000;
  margin-bottom: 0.8rem ;
}
