.body {
  width: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 4.0rem;
  padding-bottom: 1.3rem;

  /* Gradient 3 */
  /* border: 1px solid rgba(255, 255, 255, 0.53); */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
  border-radius: 20px;
}
